*.class

#package file---注释
# *.jar-------后期使用支付宝，会用到支付宝的jar包，所以不去忽略。Maven的jar包不会提交到git仓库中，而是保存在本地的maven仓库中。
*.war
*.ear

#kdiff3 ignore---diff工具---merge用的
*.orig

#maven ignore---忽略target文件夹下的文件
target/

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file ---临时文件忽略
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore---系统生成的临时文件忽略
.DS_Store
Thumbs.db